*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif
}

body{
  background:#0b0f1a;
  color:#fff
}

.navbar{
  position:fixed;
  top:0;
  width:100%;
  padding:20px 60px;
  display:flex;
  justify-content:space-between;
  background:rgba(0,0,0,.75);
  z-index:100
}

.logo{
  font-size:24px;
  font-weight:700
}
.logo span{color:#00ffcc}

nav a{
  margin:0 15px;
  cursor:pointer;
  opacity:.6;
  position:relative
}
nav a.active{opacity:1;color:#00ffcc}

.tab{
  display:none;
  min-height:100vh;
  padding:140px 12%
}
.tab.active{display:block}

.content h1{font-size:46px}
.content p{margin:15px 0;opacity:.85}

.images{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:24px;
  margin:35px 0
}
.images img{
  width:100%;
  border-radius:18px;
  transition:.4s
}
.images img:hover{
  transform:scale(1.05)
}

.watch{
  padding:14px 42px;
  border:none;
  border-radius:30px;
  background:#00ffcc;
  font-weight:700;
  cursor:pointer;
  animation:pulse 1.6s infinite
}

@keyframes pulse{
  0%{box-shadow:0 0 0 0 rgba(0,255,204,.7)}
  70%{box-shadow:0 0 0 18px transparent}
  100%{box-shadow:0 0 0 0 transparent}
}

.popup{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.9);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:999
}
.popup.active{display:flex}
.popup video{
  width:80%;
  border-radius:20px
}

#close{
  position:absolute;
  top:30px;
  right:40px;
  font-size:30px;
  cursor:pointer
}

.contact-box{
  margin:30px 0;
  line-height:2;
  opacity:.9
}

footer{
  text-align:center;
  padding:25px;
  opacity:.5
}
nav a{
  position:relative;
  margin:0 15px;
  cursor:pointer;
  opacity:.6;
  padding:6px 0;
}

/* gạch chân */
nav a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-4px;
  width:0%;
  height:2px;
  background:#00ffcc;
  transition:width .35s ease;
}

/* hover chạy từ trái sang phải */
nav a:hover::after{
  width:100%;
}

/* active (tab đang mở) */
nav a.active{
  opacity:1;
  color:#00ffcc;
}

nav a.active::after{
  width:100%;
}
